
  <body id = "index">
		<h1 class="center">Home</h1>
		<p class="center">This website was made by a Calc 3 student in Brent Thomas' class. Therefore the target audience will be Calc 3 students in Brent Thomas' class. However,
		that does not exclude other individuals from using the site to learn about Wolfram Alpha, Desmos or Geogebra. The main idea here is to help Calc 3 students in their time 
		of need. That being said, each math listed site has a wide variety of resources, but only the tools that are useful to Calc 3 will be included in this tutorial. It is 
		also assumed that users of this website know how to input mathematical syntax via a keyboard (i.e. you know that '^' means "to the power of", you know how to type +, -, /, =, * and you know 
		how to properly utilize parenthesis).
		Below are links to pages that provide detailed help on how to use the three websites previously listed: </p>
		
		<div class="center"><a href="../home">Back to Final Project</a></div>
		<div class="center"><a href="../wolfram">Wolfram Alpha</a></div>
		<div class="center"><a href="../desmos">Desmos</a></div>
		<div class="center"><a href="../geogebra">Geogebra</a></div>
		
		
		<h2>To fill up the rest of the page, here are some memes: </h2>
		
		<div class="image"><img alt= "the image broke sorry" src = "../assets/meme1.png"/></div>
		<div class="image"><img alt= "the image broke sorry" src = "../assets/meme2.png"/></div>
   </body>
