.box{
	font-family: 'helvetica neue', helvetica, sans-serif;
	padding: 2px 13px;
	margin: 30px;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
}

.red {
	border-color: rgb(255,0,0);
	background:   rgb(180,60,60);
	box-shadow: 1px 1px 2px rgba(200,0,0,0.4);
}

.yellow {
	border-color: rgb(255,255,0);
	background:   rgb(180,180,60);
	box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}

.blue {
	border-color: rgb(0,0,255);
	background:   rgb(60,60,180);
	box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
}

.green {
	border-color: rgb(0,255,0);
	background:   rgb(60,180,60);
	box-shadow: 1px 1px 2px rgba(0,200,0,0.4);
}

.center{
	text-align: center;
}

.home{
	margin: 50px;
}

.size{
	width: 80%;
	height: auto;
}

p a{
	font-size: 16px;
}

a{
	font-size: 18px;
}

.height{
	margin: 30px;
	height: 500px;
	width: auto;
}

.image-small{
	display: flex;
	justify-content: center;
	padding: 20px;
}

.image{
	margin: 20px;
	text-align: center;
}

#index{
	background: #808fb3;
}