<html>
    <body>
        <div class="title"><p>{{page.title}}</p></div>
        <div class = "tab">
            <a href="./home">Home</a>
            <a href="./projects">Projects</a>
            <a href="./resume">Resume</a>
            <a href="./tech">Technologies Used</a>
        </div>

        <div>
            <h2 class="center">Current Weather</h2>
            <div class="center">
                <div class="weather">{{temp}} &deg;F</div>
                <img alt="didn't work" id="weather" src=""/>
            </div>
            <div class="center" style="margin: 30px;">This website is meant to be an E-portfolio for Abby Allen. Instead of a picture of Abby, here is a filler meme:</div>
            <div class="center" style="margin: 30px;">
                <img alt="nope" src="../assets/cat.jpg">
            </div>
            
        </div>

    </body>
</html>

  

