.title {
    display: flex;
    justify-content: center;
    background-color: #46c0c4;
    margin-bottom: 3px;
}

.title p {
    font-size: 30pt;
    color: black;
}

.hang {
    margin: 20px;
    border-style: solid; 
    border-color: black; 
    height: 305px;
}

.box{
    column-count: 2;
}

.tab {
    display: flex;
    justify-content: center;
    background-color: #eac93c;
}

.tab a {
    color: black;
    font-size: 14pt;
    padding: 10px;
    margin-left: 12px;
    margin-right: 12px;
    text-decoration: none;
    display: inline-flex;
}

.tab a:hover{
    background-color: #f9da56;
}

.bigBullet {
    margin-left: 150px;
    font-size: 20pt;
}

.medBullet {
    margin: 15px;
    margin-right: 150px;
    font-size: 16pt;
}

.small{
    width: 550px;
}

.center{
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    font-size: 30pt;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.description {
    display: flex;
    justify-content: center;
    font-size: 18pt;
    font-style: italic;
    margin-bottom: 50px;
}

#weather {
    display: flex;
    width: 50px;
}

.center {
    display: flex;
    justify-content: center;
}

.resume {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.skills{
    margin-top: 50px;
    margin-bottom: 50px;
}

.achieve{
    margin-top: 50px;
    margin-bottom: 50px;
}

.experience{
    margin-top: 50px;
    margin-bottom: 50px;
}

.weather {
    padding-right: 20px; 
    padding-top: 15px; 
    font-size: 14pt; 
    font-weight: bold;
}