<html>
    <head>
        <title>{{page.title}}</title>
    </head>
    
    <body>
        <div class="title"><p>{{page.title}}</p></div>
        <div class = "tab">
            <a href="/home">Home</a>
            <a href="/projects">Projects</a>
            <a href="/resume">Resume</a>
            <a href="/tech">Technologies Used</a>
        </div>
    </body>

<div>
    <p class="description">The following page lists each of the technologies used while creating this webpage and how they were implemented.</p>

    <ul>
        <li class="bigBullet">HTML5
            <ul>
                <li class="medBullet">Basically the template for the entire webpage</li>
                <li class="medBullet">Mostly contains the text within the site</li>
            </ul>
        </li>  
        <li class="bigBullet">CSS
                <ul>
                    <li class="medBullet">Used to style the webpage</li>
                </ul>
            </li>
            <li class="bigBullet">TypeScript
                <ul>
                    <li class="medBullet">The language that's used to implement fetch() and link all of the pages together</li>
                </ul>
            </li>
            <li class="bigBullet">Angular Framework
                <ul>
                    <li class="medBullet">Used to link each page together and organize code</li> 
                    <li class="medBullet">It essentially makes the HTML functional</li>
                </ul>
            </li>
            <li class="bigBullet">Node.js
                <ul>
                    <li class="medBullet">Was implemented in this project using a written script "start" that compiles the code and puts it on localhost:4200</li>
                </ul>
            </li>
            <li class="bigBullet">localhost
                <ul>
                    <li class="medBullet">The web server used in this project</li>
                </ul>
            </li>
            <li class="bigBullet">fetch()
                <ul>
                    <li class="medBullet">Used to make an API call to take the computer's current location and return weather data in the home page.</li>
                </ul>
            </li>
        </ul>
    </div>
</html>
