<div id="desmos">
    <h1 class="center">Desmos</h1>
    <div class="center"><a href="../home">Back to Final Project</a></div>
    <div class="center"><a href="../calc">Home</a></div>
	<div class="center"><a href="../wolfram">Wolfram Alpha</a></div>
	<div class="center"><a href="../geogebra">Geogebra</a></div>

    <div class="box yellow">
        <p class="center">Desmos is another online calculator that can do math for you (hopefully that isn't shocking to anyone). This tutorial will go over how to use the graphing calculator 
        and the scientific calculator. If you've ever owned a TI-84 you'll probably be able to pick up Desmos pretty quick. To be perfectly honest, Desmos is better used for 
        physics or Calc 1 because they mainly consist of algebra and single
        variables. That being said, this tutorial is going to be shorter than the other two. Click <a href="https://www.desmos.com/">here</a> to go to the site.</p>
    </div>
    
    <div class="box blue">
        <h2>Scientific Calculator</h2>
        <p>The scientific calculator on Desmos is pretty straightforward. The image below simply shows what the calculator looks like because there aren't really any other necessary visual aids. 
        You can use one of the three different keyboards on the screen to enter the values you want. However
        everything can be done from your physical keyboard (which makes it a lot easier to use). For example, you can type "sqrt" on your keyboard and the software will know
        that you want to take the square root of a value. Naturally, the most commnly used commands are +, -, *, / and ^ (which are pretty easy to type on a keyboard). If you're typing
        a lot of information into the calculator, parenthesis are your best friend. They ensure that the value you're looking for is the value that's returned. As previously stated,
        if you know how to use a graphing calculator, you can use Desmos. </p>
        <div class="image"><img alt= "the image broke sorry" src = "../assets/desmosCalc.png" class="size"/></div>
    </div>

    <div class="box green">
        <h2>2D Graphing</h2>
        <p>Desmos also has a graphing software that's similar to that of a regular graphing calculator. This graphing software only works in 2 dimensions so it won't be useful very
        often in Calc 3. Basically all you have to do is enter an equation into the left side and it will return the image on the right side (see image). Fun fact: Desmos can graph an integral,
        as long as it's a one form that only uses the variable 'x'. To do that just type "int" and an integral sign will pop up and you can
        type in the integrand. </p>
        <div class="image"><img alt= "the image broke sorry" src = "../assets/desmosGraph.png" class="size"/></div>
        
    </div>

</div>
