<html>
    <body>
        <div class="title"><p>My {{page.title}}</p></div>
        <div class = "tab">
            <a href="/home">Home</a>
            <a href="/projects">Projects</a>
            <a href="/resume">Resume</a>
            <a href="/tech">Technologies Used</a>
        </div>

        <p style="font-size: 14pt;">Here are a couple of the projects Abby has completed over the past two years:</p>

        <div>
            <h2 style="margin-bottom: 0px; padding-bottom: 0px; text-align: center;">Calculus Project</h2><br>
            <p style="margin-top: 0px; padding-top: 0px; text-align: center;">(Click to view)</p>
        </div>
        <div class="center">
            <a href="/calc"><img class="small" alt= "the image broke sorry" src = "../assets/calcFrontPage.png"/></a>
        </div>

        <div>
            <h2 class="center" style="margin-top: 58px; margin-bottom: 24px;">Hangman GUI</h2>
            <div class="box">
                <div><img class="hang" style="width: 605px;" alt="not working" src="../assets/blank.png"></div>
                <div><img class="hang" alt="not working" src="../assets/incorrect.png"></div>
                <div><img class="hang" alt="not working" src="../assets/lost.png"></div>
                <div><img class="hang" alt="not working" src="../assets/correct.png"></div>
                <div><img class="hang" alt="not working" src="../assets/alreadyGuessed.png"></div>
                <div><img class="hang" alt="not working" src="../assets/won.png"></div>
            </div>
                
            <h2>Hangman Code</h2>
            <div class="box">
                <code>
                    ... <br>
                    <p></p>
                    public class Hangman extends Application<br> 
                    <p></p>
                        ...
                    <p></p>
                            String[] phrases = new String[25]; <br>
                            Label letter = new Label("Guess a letter: (to enter \na new letter, delete \nyour previous guess) ");<br>
                            letter.setFont(new Font(14)); <br>
                    <p></p>
                            Arc base = new Arc(80, 320, 55, 10, 0, 180); <br>
                            base.setStroke(Color.BLACK); <br>
                            base.setFill(Color.WHITE); <br>
                    <p></p>
                            Line pole = new Line(80, 310, 80, 40); <br>
                            Line rope = new Line(220, 40, 220, 75); <br>
                            Line top = new Line(80, 40, 220, 40); <br>
                    <p></p>
                            pane.getChildren().addAll(base, pole, rope, top); <br>
                            border.setLeft(pane); <br>
                            border.setRight(guessBox); <br>
                    <p></p>
                            try  <br>
                                FileReader file = new FileReader("phrases.txt"); <br>
                                BufferedReader br = new BufferedReader(file); <br>
                                String line; <br>
                    <p></p>
                                int i = 0; <br>
                                while((line = br.readLine().toLowerCase()) != null)         //make it so case doesn't matter when guessing <br>
                                    phrases[i] = line; <br>
                                    i++; <br>
                    <p></p>
                    <p></p>
                            catch(Exception ex)  <br>
                    <p></p>
                            Random rand = new Random();          //randomly select phrase <br>
                            int random = rand.nextInt(24) + 1; <br>
                    <p></p>
                            answer = phrases[random].toCharArray(); <br>
                            label = new char[answer.length]; <br>
                            alreadyGuessed = new int[answer.length * 10]; <br>
                            setGrid(); <br>
                    <p></p>
                            guessBox.add(letter, 0, 0); <br>
                            TextField input = new TextField(); <br>
                            guessBox.add(input, 1, 0); <br>
                    <p></p>
                            input.setOnAction(e -> compareGuess(input, stage)); <br>
                    <p></p>
                            Scene scene = new Scene(border, 950, 450); <br>
                            stage.setTitle("Hangman"); <br>
                            stage.setScene(scene); <br>
                            stage.show(); <br>
                    <p></p>
                    <p></p>
                        public void letterEntered(Label l, Stage stage)         //maintains missed letters <br>
                            if (!guess) <br> 
                                count ++; <br>
                                switch (count)  <br>
                                    case 1: <br>
                                        Circle head = new Circle(); <br>
                                        head.setFill(Color.WHITE); <br>
                                        head.setStroke(Color.BLACK); <br>
                                        head.setRadius(25); <br>
                                        head.setCenterX(220); <br>
                                        head.setCenterY(100); <br>
                                        pane.getChildren().add(head); <br>
                                        guessBox.add(l, 0, 2); <br>
                                        break; <br>
                    <p></p>
                                    case 2: <br>
                                        Line back = new Line(220, 125, 220, 210); <br>
                                        image.setFitHeight(40); <br>
                                        image.setFitWidth(50); <br>
                                        image.setX(195); <br>
                                        image.setY(150); <br>
                                        pane.getChildren().addAll(back); <br>
                                        guessBox.add(l, 1, 2); <br>
                                        break; <br>
                    <p></p>
                                    case 3: <br>
                                        Line leg1 = new Line(220, 210, 260, 260); <br>
                                        pane.getChildren().add(leg1); <br>
                                        guessBox.add(l, 2, 2); <br>
                                        break; <br>
                    <p></p>
                                    case 4: <br>
                                        Line leg2 = new Line(220, 210, 180, 260); <br>
                                        pane.getChildren().add(leg2); <br>
                                        guessBox.add(l, 0, 3); <br>
                                        break; <br>
                    <p></p>
                                    case 5: <br>
                                        Line arm1 = new Line(205, 120, 160, 180); <br>
                                        pane.getChildren().add(arm1); <br>
                                        guessBox.add(l, 1, 3); <br>
                                        break; <br>
                    <p></p>
                                    case 6: <br>
                                        Line arm2 = new Line(235, 120, 280, 180); <br>
                                        pane.getChildren().add(arm2); <br>
                                        guessBox.add(l, 2, 3); <br>
                                        isOver("You lost", stage); <br>
                                        break; <br>
                    <p></p>
                             
                    <p></p>
                    
                        public void compareGuess(TextField l, Stage stage) <br>
                            String guess = l.getText(); <br>
                            char[] input = guess.toCharArray(); <br>             //input only takes first char in array, that's why only input[0] is implemented <br>
                    <p></p>
                            for(int i = 0; i &lt alreadyGuessed.length; i++)                //array that holds letters already guessed <br>
                                if(input[0] == alreadyGuessed[i]) <br>
                                    topLabel.setText("You've already \nguessed this \nletter."); <br>
                                    topLabel.setTextFill(Color.RED); <br>
                                    return; <br>
                    <p></p>
                    <p></p>
                    
                            alreadyGuessed[g] = input[0];            //update array if new letter is entered <br>
                            g++; <br>
                    <p></p>
                            int match = 0; <br>
                            for(int i = 0; i &lt answer.length; i++)                //determine if letter is in phrase<br>
                                if(answer[i] == input[0]) <br>
                                    Label bottom = new Label(input[0] + " "); <br>
                                    topLabel.setText("Correct!"); <br>
                                    topLabel.setTextFill(Color.GREEN); <br>
                                    this.label[i] = input[0]; <br>
                                    bottom.setText(this.label[i] + " "); <br>
                                    bottom.setFont(new Font(20)); <br>
                                    dashes.add(bottom, i, 0); <br>
                                    match++; <br>
                    <p></p>       
                    <p></p>
                            if(match == 0)  <br>
                                topLabel.setText("Incorrect"); <br>
                                topLabel.setTextFill(Color.RED); <br>
                                this.guess = false; <br>
                                Label wrong = new Label(input[0] + " "); <br>
                                wrong.setFont(new Font(40)); <br>
                                letterEntered(wrong, stage); <br>
                             <p></p>
                    
                            int i = 0; <br>
                            while(this.label[i] != '_' && i &lt this.label.length - 1)      //check to see if everything is filled <br>
                                i++; <br>
                    <p></p>
                            if(i == this.label.length - 1) <br>
                                isOver("You won!", stage); <br>
                             
                    <p></p>
                    
                        public void setGrid()               //gridpane for phrase <br>
                            for(int i = 0; i &lt answer.length; i++) <br>
                                if(answer[i] == ' ') <br>
                                    label[i] = ' '; <br>
                    <p></p>
                                else  
                                    label[i] = '_'; <br>
                    <p></p>
                                Label label = new Label(this.label[i] + " "); <br>
                                label.setFont(new Font(30)); <br>
                                dashes.add(label, i, 0); <br>
                             
                    <p></p>
                            border.setBottom(dashes); <br>
                    <p></p>
                    
                        public void isOver(String statement, Stage stage)           //game is over, display message <br>
                            for(int i = 0; i &lt answer.length; i++) 
                                Label label = new Label(answer[i] + " "); <br>
                                label.setFont(new Font(20)); <br>
                                dashes.add(label, i, 0); <br>
                    <p></p>
                            topLabel.setText(statement); <br>
                            topLabel.setTextFill(Color.BLACK); <br>
                            Button playAgain = new Button("Play Again");                 //play again button <br>
                            message.add(playAgain, 0, 1); <br>
                            playAgain.setOnAction(e -> play(stage)); <br>
                </code>
            </div>
        </div>
    </body>
</html>

