<div id = "geo">
	<h1 class="center">Geogebra</h1>
		<div class="center"><a href="../home">Back to Final Project</a></div>
		<div class="center"><a href="../calc">Home</a></div>
		<div class="center"><a href="../wolfram">Wolfram Alpha</a></div>
		<div class="center"><a href="../desmos">Desmos</a></div>

        <div class="box green">
				<p class="center">Geogebra is different from Desmos and Wolfram Alpha because of its 3D graphing software. Yes, Wolfram can pull up 3D graphs and 
				Desmos has a sufficient graphing calculator, but they don't work as nicely as the Geogebra software. So that's the aspect of Geogebra that we'll be focusing on for 
				this tutorial. 3D graphing is especially nice in Calc 3 because the course is literally called Multivariable Calculus. When working with line or 
				surface integrals Brent often suggests graphing the function that you're integrating so it's easier to visualize what's going on. Graphs make it easier to see
				where bounds are for multivariable integrals. That's why Geogebra's graphing software is so nice for Calc 3 students. Click <a href="https://www.geogebra.org/3d?lang=en">here</a> to go to the site.</p>
        </div>
        
        <div class="box red">
				<h2>Graphing</h2>
				<p> Graphing in 3 dimensions is just as straightforward as 2 dimensional graphing. Simply enter the equation you want to graph on the left side, and the image will 
				appear on the right side. Like Desmos, you can plot multiple graphs at a time. To differentiate between the graphs you can also change their colors by clicking the three
				dots next to the equation (see image below) and then clicking "Settings". This opens up a settings box where you can change the color. If the graph is getting too cluttered,
				you can click the colored circle by your equation (see image) and the graph will disappear until you click the circle again. An example of this is shown in the "Commands" section of this page.</p>
				<div class="image"><img alt= "the image broke sorry" src = "../assets/graph.png" class="size"/></div>
        </div>
        
        <div class="box yellow">
				<h2>Commands</h2>
				<p>There are so many things that can be done with Geogebra that it's impossible to cover all of its capabilities in one tutorial. A great tool for when you're stuck 
				while using Geogebra is the <a href="https://wiki.geogebra.org/en/Category:Commands">commands</a> page. For example, say you want to graph the tangent line of the curve x^2
				but you're not sure how to go about it. You can find the tangent command in the commands page under "geometry commands" and it will give you all the ways the command can be implemented.</p>
				
				<div class="image"><img alt= "the image broke sorry" src = "../assets/tanCommand.png" class="size"/></div>
				
				You can also get help in the command line by typing the key word "Tangent" and a list of options will pop up: 
				
				<div class="image-small"><img alt= "the image broke sorry" src = "../assets/tanHelp.png"/></div>
				
				Once you have the command entered correctly, the software will graph the tangent line for you:
				
				<div class="image"><img alt= "the image broke sorry" src = "../assets/tanGraph.png" class="size"/></div>
        </div>
            
        <div class="box blue">
                <h2>Other Stuff</h2>
                <p>Geogebra has a lot of different graphing tools. The shape button to the right of the calculator button reveals all the 3D graphing tools that can be implemented (see three images below). This tutorial will not go over 
                these tools because they're pretty much useless in terms of multivariable Calculus, but each tool has a help button if you ever want to meddle with shapes and functions. More meddling can 
				be done in "Settings" including scripting and styling. </p>
				
				<div>
					<img alt= "the image broke sorry" src = "../assets/other.png" class="height"/>
					<img alt= "the image broke sorry" src = "../assets/other2.png" class="height"/>
					<img alt= "the image broke sorry" src = "../assets/other3.png" class="height"/>
				</div>
        </div>
</div>