
  <div id = "wolf">
	<h1 class="center">Wolfram Alpha</h1>
	<div class="center"><a href="../home">Back to Final Project</a></div>
	<div class="center"><a href="../calc">Home</a></div>
	<div class="center"><a href="../geogebra">Geogebra</a></div>
	<div class="center"><a href="../desmos">Desmos</a></div>
	
	<div class="box red">
		<p class="center">In Calc 3 there's a lot of new, heavy material. Not to mention you have to remember things from Calc 2. The great thing about Wolfram Alpha is the wide variety
			of mathematical operations it can perform. In Multivariable Calculus it's less important to remember all of the integration rules from Calc 2 so you can get 
			away with using this software to "check your work" when you can't remember things like trig substitution. Note that it isn't ideal to use the software to do all 
			of your homework for two reasons. First, you won't learn anything if you do that. Second, Brent has carefully designed his homework in a way that forces you to 
			understand the content; meaning you will fail if you just type the problem in Wolfram Alpha. This tutorial will go over the proper way to type requests for different 
			operations. These include: integrals, derivatives, matrices/determinants and miscellaneous tools. But at the end of the day you don't really need to know the proper syntax for these operations because
			Wolfram Alpha is so magical that you can type whatever you're looking for into the search bar and Wolfram will typically be able to figure out what you want to do and do it for you (see last example). 
			Click <a href="https://www.wolframalpha.com/">here</a> to go to the site.</p>

	</div>
	
	<div class="box yellow">
			<h2>Integration</h2>
			<p>Wolfram can calculate integrals which is probably the most important ability it has. Simply type "integrate" or "integral of" and then the function you're
			trying to integrate. This will return an indefinite integral. If you want to find the definite integral just type "from a to b" (where a is the lower bound and b is the upper bound)
			at the end of the command. Random side note: Wolfram acknowledges variables like 'a' or 'c' as constants and can calculate the integral (or any operation) in terms of the constants. 
			The image below depicts what Wolfram returns when the the "integrate" command is used.
			</p>
			<div class="image"><img alt= "the image broke sorry" src = "../assets/integrate.png"/></div>
		</div>
		
		<div class="box blue">
			<h2>Derivatives</h2>
			<p>Typing the command for derivatives is basically the same as the integral command except you type "derivative" in front of the function. Below is a visual 
			example of using this command.
			</p>
			<div class="image"><img alt= "the image broke sorry" src = "../assets/derive.png"/></div>
		</div>
		
		<div class="box green">
			<h2>Matrices</h2>
			<p>In Brent's version of Calc 3, you're going to learn a little bit of linear algebra. This means you need to calculate things like determinants and eigenvalues. 
			Luckily Wolfram can do these for you. The example below simply shows how to input a matrix by typing the rows in the subsections defined by the curly braces. However you can type commands in front of the matrix like "determinant" or 
			"eigenvalues" and it will return the values you're looking for. If just the matrix is entered, everything that can possibly be determined from a matrix will pop up. 
			This includes the determinant and other values you may be looking for. So if you want to save a few seconds of typing, just entering the matrix will suffice.
			</p>
			<div class="image"><img alt= "the image broke sorry" src = "../assets/matrix.png"/></div>
		</div>
		
		<div class="box red">
			<h2>Other Random Features</h2>
			<p>Wolfram Alpha can even define words that you don't know. The image below depicts that.</p>
			<div class="image"><img alt= "the image broke sorry" src = "../assets/wolframdefine.png"/></div>
			
			<p>
				Wolfram can also provide graphs of functions, but the provided graphs are less specific than those from Geogebra. Note that the input was technically incorrect
				but Wolfram was able to interpret what the user wanted. The correct way to request a graph is using the command "plot" before typing the function you want to graph.
				This is a good example that shows how Wolfram is intelligent enough to determine desired results without proper syntax. That's partly what makes Wolfram Alpha such
				a magnificent tool.
			</p>
			<div class="image"><img alt= "the image broke sorry" src = "../assets/wolframGraph.png"/></div>
			
		</div>
</div>