<html>
    <head>
        <title>{{page.title}}</title>
    </head>
    
    <body>
        <div class="title"><p>My {{page.title}}</p></div>
        <div class = "tab">
            <a href="/home">Home</a>
            <a href="/projects">Projects</a>
            <a href="/resume">Resume</a>
            <a href="/tech">Technologies Used</a>
        </div>

        <div class="resume">
            <h1 class="center">Abby Allen</h1>
            <div class="skills">
                <h2>Skills/Strengths:</h2>
                <ul>
                    <li>Fluent in Java, C++ and Python</li>
                    <li>Familiar with HTML, JavaScript/Tyepscript, GUIs and MIPS</li>
                    <li>Quick learner</li>
                    <li>Master at debugging</li>
                </ul>
            </div>

            <div class="achieve">
                <h2>Academic Achievements:</h2>
                <ul>
                    <li><strong>High school GPA: </strong> 4.0</li>
                    <li><strong>Current GPA: </strong> 3.8</li>
                    <li><strong>Major: </strong> Computer Science</li>
                    <li><strong>Minor: </strong> Mathematics</li>
                    <li>Made Dean's list for fall semesters 2017 and 2018</li>
                    <li>Regional Mathematics Sterling Scholar Runner-up</li>
                    <li>National Center for Women and Information Technology (NCWIT) Regional Award Winner, 99th percentile leadership score at national Level</li>
                </ul>
            </div>

            <div class="experience">
                <h2>University Work Experience:</h2>
                <ul>
                    <div style="margin-bottom: 15px; margin-top: 25px;"><strong style="font-size: 14pt; margin-right: 400px;">Guardsight Intern </strong>
                        <strong style="font-size: 14pt;">June 2019 - Present</strong>
                    </div>
                    <li>Work in a high intensity cybersecurity environment</li>
                    <li>Installed various devices and software for clients</li>
                    <li>Learned how to run an IT helpdesk</li>

                    <div style="margin-bottom: 15px; margin-top: 25px;"><strong style="font-size: 14pt; margin-right: 290px;">Confucius Institute Staff @ SUU</strong>
                        <strong style="font-size: 14pt;">Summer Months of 2018 and 2019</strong>
                    </div>
                    <li>Assistnat to Direct of Short-Term and Homestay programs</li>
                    <li>Organized activities for summer groups from various parts of Asia</li>
                    <li>Coordinated Homestay assignments</li>

                    <div style="margin-bottom: 15px; margin-top: 25px;"><strong style="font-size: 14pt; margin-right: 290px;">University Housing Staff @ SUU </strong>
                        <strong style="font-size: 14pt;">June 2017 - August 2017</strong>
                    </div>
                    <li>Maintained facilities in housing buildings on campus</li>
                    <li>Cleaned and prepared rooms for large groups</li>
                    <li>Interacted with guests and assisted them when necessary</li>
                </ul>
            </div>

        </div>
    </body>
</html>

